extends layouts/main-layout
block content
    .wrapper
        .text.container-xxl
            .text.align-self-center
                h1.slogon.display-5
                    | lions are the kings of the jungle 
                    br
                    | So be Your life's King 
            .join-us.align-self-center.btn Join us
        .area.container-xxl#services
            .text 
                h2 Services
        .services
            .service1.row
                .left-side.col-7
                    h3.mb-5 Lose that belly fat now 
                    h1 Cardio 
                    h1.mb-5 Training 
                    p Work on your abs and core with state-of-the-art equipments specially brought to you by the best gym 
                        br
                        | in Oran , Algeria
                .right-side.col-5
                    img(src='images/service1.jpg')
            .service2.row
                .right-side.col-5
                    img(src='images/service2.jpg')
                .left-side.col-7
                    h3.mb-5 Work on your muscles
                    h1 Strength 
                    h1.mb-5 Training 
                    p Work on your abs and core with state-of-the-art equipments specially brought to you by the best gym 
                        br
                        | in Oran , Algeria
            .service1.row
                .left-side.col-7
                    h3.mb-5 Get guided from the best coaches 
                    h1 Personal
                    h1.mb-5 Training 
                    p Work on your abs and core with state-of-the-art equipments specially brought to you by the best gym 
                        br
                        | in Oran , Algeria
                .right-side.col-5
                    img(src='images/service3.jpg')
            .service2.row
                .right-side.col-5
                    img(src='images/service4.jpg')
                .left-side.col-7
                    h3.mb-5 Never stop training 
                    h1 Online 
                    h1.mb-5 Training 
                    p Work on your abs and core with state-of-the-art equipments specially brought to you by the best gym 
                        br
                        | in Oran , Algeria
            .service1.row
                .left-side.col-7
                    h3.mb-5 Relaxing time 
                    h1 Sauna 
                    h1.mb-5 Center 
                    p Work on your abs and core with state-of-the-art equipments specially brought to you by the best gym 
                        br
                        | in Oran , Algeria
                .right-side.col-5
                    img(src='images/service5.jpg')
                .separate
        .service2.row#plans
                .container 
                    h1.mb-5 Our Pricing Plans
                    .cards.row
                        .card-basic.col-4
                            .col-12
                                h2 2000 
                                   span da. Per month
                                h4 Basic
                                p Lorem ipsum dolor sit amet, consectetur adipisicing
                                    br
                                    |magni velit dolore quis repellendus 
                                ul(role='list') 
                                   li(data-icon='🔹') 10 Hours of training
                                   li(data-icon='🔹') 2 session coach
                                   li(data-icon='🔹') 1 session sauna
                                   li.off(data-icon='🔹') Yoga
                                   li.off(data-icon='🔹') Healthy food plan
                                   li.off(data-icon='🔹') Free protein doses
                                .button
                                    button.btn Get Started
                        .card-basic.col-4
                            .col-12
                                h2 5000
                                   span da. Per month
                                h4 Premium
                                p Lorem ipsum dolor sit amet, consectetur adipisicing
                                    br
                                    |magni velit dolore quis repellendus 
                                ul(role='list') 
                                   li(data-icon='🔹') Infinit time of training
                                   li(data-icon='🔹') training with coaches at anytime
                                   li(data-icon='🔹') 4 sessions sauna
                                   li(data-icon='🔹') 2 sessions yoga / week
                                   li(data-icon='🔹') free health plan
                                   li(data-icon='🔹') free protein doses for the session
                                .button 
                                   button.btn Get Started
                        .card-basic.col-4
                            .col-12
                                h2 3000
                                   span da. Per month
                                h4 Advance
                                p Lorem ipsum dolor sit amet, consectetur adipisicing
                                    br
                                    |magni velit dolore quis repellendus 
                                ul(role='list') 
                                   li(data-icon='🔹') 15 Hours of training
                                   li(data-icon='🔹') 5 sessions coach
                                   li(data-icon='🔹') 2 sessions sauna 
                                   li(data-icon='🔹') 2 session yoga / month
                                   li.off(data-icon='🔹') free health plan
                                   li.off(data-icon='🔹') free protein doses for the session
                                .button
                                   button.btn Get Started
                        .shop#shop
                            h1 KingFit New merch
                            .shop-container.container 
                                .box 
                                    .box-img 
                                        img(src='images/shop/10.png')
                                    .title-price     
                                        h3 1500 da
                                        .stars 
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star-half")
                                    span
                                    ion-icon.cart(name="cart-outline")                   
                                .box 
                                    .box-img 
                                        img(src='images/shop/11.png')
                                    .title-price     
                                        h3 1500 da
                                        .stars 
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star-half")
                                    span
                                    ion-icon.cart(name="cart-outline")                   
                                .box 
                                    .box-img 
                                        img(src='images/shop/12.png')
                                    .title-price     
                                        h3 1500 da
                                        .stars 
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star-half")
                                    span
                                    ion-icon.cart(name="cart-outline")                   
                                .box 
                                    .box-img 
                                        img(src='images/shop/13.png')
                                    .title-price     
                                        h3 1500 da
                                        .stars 
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star-half")
                                    span
                                    ion-icon.cart(name="cart-outline")                   
                                .box 
                                    .box-img 
                                        img(src='images/shop/8.png')
                                    .title-price     
                                        h3 1500 da
                                        .stars 
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star-half")
                                    span
                                    ion-icon.cart(name="cart-outline")                   
                                .box 
                                    .box-img 
                                        img(src='images/shop/9.png')
                                    .title-price     
                                        h3 1500 da
                                        .stars 
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star-half")
                                    span
                                    ion-icon.cart(name="cart-outline")                   
                                .box 
                                    .box-img 
                                        img(src='images/shop/6.png')
                                    .title-price     
                                        h3 1500 da
                                        .stars 
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star-half")
                                    span
                                    ion-icon.cart(name="cart-outline")                   
                                .box 
                                    .box-img 
                                        img(src='images/shop/7.png')
                                    .title-price     
                                        h3 1500 da
                                        .stars 
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star-half")
                                    span
                                    ion-icon.cart(name="cart-outline")                   
                                .box 
                                    .box-img 
                                        img(src='images/shop/1.png')
                                    .title-price     
                                        h3 1500 da
                                        .stars 
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star-half")
                                    span
                                    ion-icon.cart(name="cart-outline")                   
                                .box 
                                    .box-img 
                                        img(src='images/shop/2.png')
                                    .title-price     
                                        h3 1500 da
                                        .stars 
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star-half")
                                    span
                                    ion-icon.cart(name="cart-outline")                   
                                .box 
                                    .box-img 
                                        img(src='images/shop/3.png')
                                    .title-price     
                                        h3 1500 da
                                        .stars 
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star-half")
                                    span
                                    ion-icon.cart(name="cart-outline")                   
                                .box 
                                    .box-img 
                                        img(src='images/shop/4.png')
                                    .title-price     
                                        h3 1500 da
                                        .stars 
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star-half")
                                    span
                                    ion-icon.cart(name="cart-outline")                   
                                .box.mb-5 
                                    .box-img 
                                        img(src='images/shop/5.png')
                                    .title-price     
                                        h3 1500 da
                                        .stars 
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star")
                                            ion-icon(name="star-half")
                                    span
                                    ion-icon.cart(name="cart-outline")                   
                        include  partials/footer
                            